body {
    font-family: monospace;
    font-variant: small-caps;
}

h1,
h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: underline;
}

p,
a {
    font-size: 1em;
}

main.container {
    margin-top: -15em;
    background-color: #fff;
    border-radius: .5em;
}

thead {
    font-weight: bold;
}

#l {
    font-size: 9em;
}

#toggle:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* Override tab styles */
.tabs {
    margin-bottom: 1em;
}

.tabs .tab a,
.tabs .tab a.active,
.tabs .tab a:focus,
.tabs .tab a:focus.active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.tabs .indicator {
    background-color: steelblue;
}

.custom-border {
    border-right: solid 1px black;
}

/* Dark Mode Styling */
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode>.container {
    background-color: black;
    color: white;
}


.dark-mode>main.container {
    background-color: white;
    color: black;
}

/* Mobile Styles */
@media screen and (max-width: 415px) {
    #l {
        max-width: 300px;
        max-height: 100%;
    }

    main.container {
        margin-top: -5em;
    }

    .parallax-container:nth-child(1n) {
        height: 370px;
    }

    .parallax-container~.parallax-container {
        display: none;
    }

    .dark-mode .responsive-table thead {
        border: 0;
        border-right: 1px solid #eceff1;
    }

    #winds iframe {
        width: 100%;
    }
}