thead {
    font-weight: bold;
}

.container {
    background-color: #fff;
}

main.container {
    margin: 1em auto;
}

#l {
    font-size: 9em;
}

#toggle:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* Dark Mode Styling */
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode>.container {
    background-color: black;
    color: white;
}

.dark-mode a {
    color: #e1f5fe;
}

.dark-mode a:visited {
    color: #e040fb;
}

/* Mobile Styles */
@media screen and (max-width: 411px) {
    #l {
        max-width: 375px;
        max-height: 100%;
    }

    .dark-mode .responsive-table thead {
        border: 0;
        border-right: 1px solid #eceff1;
    }

    .parallax-container {
        height: 200px;
    }

    /* .parallax-container .parallax {
        bottom: 100px;
    } */
}